.priority-announcement {
    margin-top: 10px;
    padding: 20px;
}

.priority-announcement-text {
    width: 800px;
    height: 300px;
    overflow: auto;
    background-color: lightgray;
    
}

.priority-announcement-title{
    font-family: Arial;
    font-size: 64px;
}

div {
    font-family: Arial;
}



.slide-post {
    padding: 20px;
}

.link {
    text-decoration: none;
    color: black;
}

.yellowredButton {
    height: 50px;
    width: 100px;
    background: linear-gradient(-90deg, #962D38 50%, #EAB547 50%);

}

.purpleblackButton{
    height: 50px;
    width: 100px;
    background: linear-gradient(-90deg, #000000 50%, #490092 50%);
}

.orangeblueButton {
    height: 50px;
    width: 100px;
    background: linear-gradient(-90deg, #006ddb 50%, #db6d00 50%);
}





