@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.accessibility-logo {
    max-width: 35px;
    max-height: 35px;
}

.color-theme-description {
    text-align: center;
}